name: Build and Populate Cache
run-name: Build and Populate Cache (${{ inputs.branch || 'main' }})

on:
  push:
  schedule:
    - cron: "55 07 * * *"
  workflow_dispatch:
    inputs:
      branch:
        required: true
        type: string
        default: main

jobs:
  build:
    name: Build (${{ matrix.channel }}, ${{ matrix.system }})
    strategy:
      fail-fast: false
      matrix:
        system:
          - x86_64-linux
          - aarch64-linux
        channel:
          - nixpkgs-unstable
          - nixos-unstable
          - nixos-24.11
          - nixos-25.05
        include:
          - system: x86_64-darwin
            channel: nixpkgs-unstable
          - system: x86_64-darwin
            channel: nixpkgs-24.11-darwin
          - system: x86_64-darwin
            channel: nixpkgs-25.05-darwin
          - system: aarch64-darwin
            channel: nixpkgs-unstable
          - system: aarch64-darwin
            channel: nixpkgs-24.11-darwin
          - system: aarch64-darwin
            channel: nixpkgs-25.05-darwin
    runs-on: >-
      ${{ (matrix.system == 'x86_64-linux'   && 'ubuntu-24.04')
       || (matrix.system == 'aarch64-linux'  && 'ubuntu-24.04-arm')
       || (matrix.system == 'x86_64-darwin'  && 'macos-13')
       || (matrix.system == 'aarch64-darwin' && 'macos-15') }}

    steps:
      - name: Checkout
        run: |
          git clone --depth 1 --branch ${{ inputs.branch || 'main' }} https://codeberg.org/FedericoSchonborn/nur-packages.git $GITHUB_WORKSPACE

      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          nix_path: "nixpkgs=channel:${{ matrix.channel }}"
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Set up Cachix
        uses: cachix/cachix-action@v16
        with:
          name: ${{ vars.CACHIX_CACHE }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Show Nixpkgs version
        run: |
          nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'

      - name: Check evaluation
        run: |
          nix-env -f . -qa \* --meta --xml \
            --allowed-uris https://static.rust-lang.org \
            --option restrict-eval true \
            --option allow-import-from-derivation true \
            --drv-path --show-trace \
            -I "nixpkgs=$(nix-instantiate --find-file nixpkgs)" \
            -I "$PWD"

      - name: Build Nix packages
        run: nix shell -f '<nixpkgs>' nix-build-uncached -c nix-build-uncached ci.nix -A cacheOutputs -build-flags "--show-trace --print-build-logs --keep-going --keep-failed"
